body {
	font-family: "Courier New", Courier, monospace;
}

a:link {
	color: blue;
}

a:visited {
	color: blue;
}

a:hover {
	color: brown;
}

#header {
	text-align: center;
	font-weight: bold;
}

#headshot {
	text-align: center;
}

.greeting {
	text-align: center;
	position: absolute;
	top: 55%;
	width: 100%;
}

.section {
	font-weight: bold;
	text-decoration: underline;
}

.organizationName {
	font-weight: bold;
}

.jobTitle {
	text-decoration: underline;
}

.image {
	display: block;
}